{% extends 'libs/template.html.twig' %}

{% block title %}<title>Ateliers &bull; CE Birse 2020</title>{% endblock %}

{% block navLinks %}
    <a href="/le-ce/"><li>Le CE</li></a>
    <a href="/ateliers/" class="active"><li>Ateliers</li></a>
    <a href="/billetterie/"><li>Billeterie</li></a>
    <a href="/organisation/"><li>Organisation</li></a>
    <a href="/contact/"><li>Contact</li></a>
{% endblock %}

{% block content %}
    <div class="section first-section" id="section6">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Les Ateliers</h1>
                    <hr>
                </div>
            </div>

            <div class="centered-content">
                <p class="light-shadow">
                    Les ateliers sont des lieux d'échangees menés par un ou plusieurs interlocuteurs, où tout un chacun est invité à participer. Ils
                    s'organisent autour de différents thèmes touchant à la vie pendant les Arts (vision des traditions, hygiène et sécurité des
                    locaux...) ainsi qu'à la vie après les Arts avec l'intervention d'anciens élèves qui viendront parler de leur propre expérience.
                    Ce sont des moments uniques qui permettent d'outre-passer les murs de nos écoles respectives et de s'intéresser à ce qui se
                    passe ailleurs... Et tout ça, dans la convivialité (et la Fraternité pseuh)° !
                </p>
            </div>
        </div>
    </div>
{% endblock %}