{% extends 'libs/template.html.twig' %}

{% block title %}<title>Ateliers &bull; CE Birse 2020</title>{% endblock %}

{% block navLinks %}
    <a href="/le-ce/">
        <li>
            Le CE
            <ul>
                <a href="/le-ce/#ce"><li>Le CE</li></a>
                <a href="/le-ce/#ue"><li>L'UE</li></a>
                <a href="/le-ce/#lille"><li>Lille</li></a>
                <a href="/le-ce/#soiree"><li>La soirée</li></a>
            </ul>
        </li>
    </a>
    <a href="/ateliers/" class="active"><li>Ateliers</li></a>
    <a href="/billetterie/"><li>Billetterie</li></a>
    <a href="/organisation/" class="active">
        <li>
            Organisation
            <ul>
                <a href="/organisation/#transports"><li>Transports</li></a>
                <a href="/organisation/#logement"><li>Logement</li></a>
                <a href="/organisation/#finss"><li>Finss</li></a>
                <a href="/organisation/#planning"><li>Planning</li></a>
            </ul>
        </li>
    </a>
    <a href="/contact/"><li>Contact</li></a>
{% endblock %}

{% block mobileNavLinks %}
    <a href="/le-ce/"><li>Le CE</li></a>
    <a href="/ateliers/" class="active"><li>Ateliers</li></a>
    <a href="/billetterie/"><li>Billetterie</li></a>
    <a href="/organisation/"><li>Organisation</li></a>
    <a href="/contact/"><li>Contact</li></a>
{% endblock %}

{% block content %}
    <div class="section first-section" id="section6">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Les Ateliers</h1>
                    <hr>
                </div>
            </div>

            <div class="centered-content">
                <p class="light-shadow">
                    Les ateliers sont des lieux d'échanges menés par un ou plusieurs interlocuteurs, où tout un chacun est invité à participer. Ils
                    s'organisent autour de différents thèmes touchant à la vie pendant les Arts (vision des traditions, hygiène et sécurité des
                    locaux...) ainsi qu'à la vie après les Arts avec l'intervention d'anciens élèves qui viendront parler de leur propre expérience.
                    Ce sont des moments uniques qui permettent d'outre-passer les murs de nos écoles respectives et de s'intéresser à ce qui se
                    passe ailleurs... Et tout ça, dans la convivialité (et la Fraternité pseuh)° !
                </p>
            </div>
        </div>
    </div>

    <div class="section" id="section6">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Les Ateliers</h1>
                    <hr>
                </div>
            </div>
            
            <div class="row">
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Communication interne & Motivation</h2></center>
                    <p>« Comment motiver plus de PGs  à s’investir dans les activités liées à l’école ? Comment bien communiquer ? Quels sont les moyens de communication les plus efficaces?</p>
                </div>
                <div class="col-4" style="margin: 10px;">
                    
                </div>
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Echange avec les JPs</h2></center>
                    <p>Quels sont les attentes des PGs envers la SOCE ? Qui sont les JPs ? Débat sur l’élargissement de la SOCE.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Organisation de projet</h2></center>
                    <p> Quels sont les outils mis à disposition afin d’aider à l’organisation de différents projets (logiciels, applications…) ? Quelle bonnes méthodes sont à envisager ?</p>
                </div>
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Relation avec la strass</h2></center>
                    <p>Comment faire remonter les problèmes ? Comment faire pour les résoudre ? Réflexion sur le fait que la majorité des problèmes viennent de la communication.</p>
                </div>
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Bien être étudiant</h2></center>
                    <p>Où en sont les réflexions sur l’intégration des LGBTQI+? Sur le sexisme ? Sur l’harcèlement ? Comment réagir face à des comportements à risques ?</p>
                </div>
            </div>

            
            <div class="row">
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">FSDIE</h2></center>
                    <p>Quelle somme est accessible par la FSDIE ? Pour quels projets ? Comment l’utiliser au mieux ? Discussion ouverte sur des grands projets qu’auraient les PGs.</p>
                </div>
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Les usin’ss : communiquer & valoriser</h2></center>
                    <p>Comment communiquer sur les usin’ss à l’extérieur ? Comment les utiliser à bon escient en sortant des Arts ?</p>
                </div>
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Trad’ss d’ailleurs</h2></center>
                    <p>Comment se passe l’usinage dans les autres TBK ? Comparaison et discussion</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Entreprises & Partenariats</h2></center>
                    <p>Comment démarcher des partenaires ? Comment pérenniser des accords ?</p>
                </div>
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Gestion des foy’ss et de l’administratif en TBK</h2></center>
                    <p>Point sur la situation actuelle de tous les TBKs.</p>
                </div>
                <div class="col-4 white-70" style="margin: 10px;">
                    <center><h2 style="font-family: sans-serif;font-weight:bold;color:rgb(0,32, 96);text-decoration: underline;">Vie à P3</h2></center>
                    <p>Comment dynamiser la vie à P3? Idée de construction de boquettes.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}