{% extends 'libs/template.html.twig' %}

{% block title %}<title>Billetterie &bull; CE Birse 2020</title>{% endblock %}

{% block navLinks %}
    <a href="/le-ce/"><li>Le CE</li></a>
    <a href="/ateliers/"><li>Ateliers</li></a>
    <a href="/billetterie/" class="active"><li>Billetterie</li></a>
    <a href="/organisation/"><li>Organisation</li></a>
    <a href="/contact/"><li>Contact</li></a>
{% endblock %}

{% block content %}
    <div class="section first-section" id="section7">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Billetterie</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}