{% extends 'libs/template.html.twig' %}

{% block title %}<title>CE &bull; CE Birse 2020</title>{% endblock %}

{% block navLinks %}
    <a href="/le-ce/" class="active"><li>Le CE</li></a>
    <a href="/ateliers/"><li>Ateliers</li></a>
    <a href="/billetterie/"><li>Billeterie</li></a>
    <a href="/organisation/"><li>Organisation</li></a>
    <a href="/contact/"><li>Contact</li></a>
{% endblock %}

{% block content %}
    <div class="section first-section" id="section2">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-60">Le CE</h1>
                    <hr>
                </div>
            </div>

            <div class="centered-content">
                <p class="light-shadow">
                    Le Comité des Elèves a lieu chaque année dans un centre des Arts & Métiers différent. Cette année, il débarque au saint
                    Tabagnon de Birse et compte accueillir 700 élèves venant des tous les horizons. Nous avons tenu à mettre l'accent sur un CE
                    accessible à tous, qui se résume plus en un lieu d'échanges et de retrouvailles entre copains qu'une grande réunion entre PGs
                    boul'ssés. Au programme, l'élection de la nouvelle Union des Elèves 2020, différents ateliers pour parler de tout et de rien,
                    une soirée dansante, la découverte de la magnifique ville de Lille, diverses activités et j'en passe... De quoi satisfaire 
                    chacun d'entre vous ! Petite particularité, cette année nous mettons l'accent sur l'importance du respect de l'environnement donc
                    attendez-vous ) boire votre bière dans vos mains !
                </p>
            </div>
        </div>
    </div>

    <div class="section" id="section3">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-60">L'UE</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section4">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-60">Lille</h1>
                    <hr>
                </div>
            </div>

            <div class="centered-content">
                <p class="light-shadow">
                    Nous savons que pour certains d'entre vous, le grand Nord peut être une source d'angoisse. Plus d'inquiétude ! Des temps
                    libres seront organisés pour vous aider à braver le froid et découvrir toute la chaleur que dégage cette ville au coeur de laquelle
                    siège le Tabagnon. En arpentant ses rues, vous pourrez admirer ses mythiques maisons en briques rouges, ses ruelles
                    piétonnes pavées ou encore sa Grand'Place centrale. Pour les grands connaisseurs, nous vous donnerons toutes les clés en
                    main pour aller à l'assaut de la fameuse "rue de la soif" déguster les meilleures bières de Lille et plus encore. Nous ne vous
                    disons pas tout cas de nombreuses surprises vous attendent...
                </p>
            </div>
        </div>
    </div>

    <div class="section dark-bg" id="section5">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-60">La soirée</h1>
                    <hr>
                </div>
            </div>

            <div class="centered-content">
                <p class="dark-shadow">
                    Nous sommes conscients que le week-end du CE n'est pas de tout repos et qu'il est important de décompresser. Ca tombe
                    bien, à Birse on sait faire la fête et on vous prépare une petite soirée pas piquée des hannetons concoctée par notre fabuleuse
                    Team Anim'ss. Ce sera l'occasion d'annoncer les nouveaux élus de l'UE et de nous montrer comment on se déhanche aux
                    quatres coins de la France ! Les joueurs de Bière Pong sont évidemment les bienvenus.
                </p>
            </div>
        </div>
    </div>
{% endblock %}