{% extends 'libs/template.html.twig' %}

{% block title %}<title>Contact &bull; CE Birse 2020</title>{% endblock %}

{% block navLinks %}
    <a href="/le-ce/">
        <li>
            Le CE
            <ul>
                <a href="/le-ce/#ce"><li>Le CE</li></a>
                <a href="/le-ce/#ue"><li>L'UE</li></a>
                <a href="/le-ce/#lille"><li>Lille</li></a>
                <a href="/le-ce/#soiree"><li>La soirée</li></a>
            </ul>
        </li>
    </a>
    <a href="/ateliers/"><li>Ateliers</li></a>
    <a href="/billetterie/"><li>Billetterie</li></a>
    <a href="/organisation/">
        <li>
            Organisation
            <ul>
                <a href="/organisation/#transports"><li>Transports</li></a>
                <a href="/organisation/#logement"><li>Logement</li></a>
                <a href="/organisation/#finss"><li>Finss</li></a>
                <a href="/organisation/#planning"><li>Planning</li></a>
            </ul>
        </li>
    </a>
    <a href="/contact/" class="active"><li>Contact</li></a>
{% endblock %}

{% block mobileNavLinks %}
    <a href="/le-ce/"><li>Le CE</li></a>
    <a href="/ateliers/"><li>Ateliers</li></a>
    <a href="/billetterie/"><li>Billetterie</li></a>
    <a href="/organisation/"><li>Organisation</li></a>
    <a href="/contact/" class="active"><li>Contact</li></a>
{% endblock %}

{% block content %}
    <div class="section first-section" id="section13">
        <div class="white-50 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Contact</h1>
                    <hr>
                </div>
            </div>
            
            <center>
                <p>Pour toute demande supplémentaire, veuillez vous contacter par mail à l'adresse suivante:</p>
                <h1 class="size-40">zi.ce@gadz.org</h1>
                <p>Pour toute demande spécifique, nous nous tenons à votre disposition:</p>
            </center>

            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-3" style="padding: 0 0;">
                            <img src="/img/profiles/alice.jpg" style="width: 100%;"/>
                        </div>

                        <div class="col-9">
                            <p>Alice Firobind</p>
                            <p>Nanooq 57Li218</p>
                            <p>Vice-Présidente</p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="row">
                        <div class="col-3" style="padding: 0 0;">
                            <img src="/img/profiles/chloe.png" style="width: 100%;"/>
                        </div>

                        <div class="col-9">
                            <p>Chloé Leblanc</p>
                            <p>Denaly'ss 144-03Li218</p>
                            <p>Présidente</p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="row">
                        <div class="col-3" style="padding: 0 0;">
                            <img src="/img/profiles/martin.png" style="width: 100%;"/>
                        </div>

                        <div class="col-9">
                            <p>Martin Finot</p>
                            <p>Marneüs 39Li218</p>
                            <p>Trésorier</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}