{% extends 'libs/template.html.twig' %}

{% block title %}<title>Accueil &bull; CE Birse 2020</title>{% endblock %}

{% block content %}
    <div class="section first-section" id="section1">
    <iframe class="video-background" src="https://www.youtube.com/embed/dFK_vx6xqfQ?autoplay=1&controls=0&mute=1&loop=1&playlist=dFK_vx6xqfQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="black-50 filter">
            <div class="textured-bg-1">
                <div class="section-content-bottom">
                    <h1 class="size-90">Le Comité Des Elèves</h1>

                    <h1 class="size-60">14 & 15 mars 2020</h1>
                    <h1 class="size-60">Tabagn'ss de Birse</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}