{% extends 'libs/template.html.twig' %}

{% block title %}<title>Accueil &bull; CE Birse 2020</title>{% endblock %}

{% block content %}
    <div class="section first-section" id="section1">
        <div class="white-50 filter">
            <div class="section-content">
                <center>
                    <h1 class="size-90">Le Comité Des Elèves</h1>
                </center>
            </div>

            <center style="position: absolute;bottom: 0;left: 0;width: 100%">
                <h1 class="size-90">14 & 15 mars 2020</h1>
                <h1 class="size-90">Tabagn'ss de Birse</h1>
            </center>
        </div>
    </div>
{% endblock %}