{% extends 'libs/template.html.twig' %}

{% block title %}<title>Organisation &bull; CE Birse 2020</title>{% endblock %}

{% block navLinks %}
    <a href="/le-ce/"><li>Le CE</li></a>
    <a href="/ateliers/"><li>Ateliers</li></a>
    <a href="/billetterie/"><li>Billetterie</li></a>
    <a href="/organisation/" class="active"><li>Organisation</li></a>
    <a href="/contact/"><li>Contact</li></a>
{% endblock %}

{% block content %}
    <div class="section first-section" id="section8">
        <div class="white-70 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Transports</h1>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p>Des bus viendront vous chercher chez vous (ou presque)° aux horaires suivants:</p>
                        <ul>
                            <li>Siber'ss: 4h30</li>
                            <li>P3: 7h30</li>
                            <li>Boquette: 3h30</li>
                            <li>Chalon'ss: 7h30</li>
                            <li>Clun'ss: 2h30</li>
                            <li>KIN: 21h30</li>
                            <li>Bordel'ss: 00h00</li>
                        </ul>
                        <p>Et vous ménerons directement chez nous !</p>
                    </div>

                    <div class="col-6">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section9">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Logement</h1>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p class="shadow-light">
                            Bien que Birse ne soit pas le mieux loti niveau
                            logements, vous ne dormirez pas dehors rassurez-vous !
                            En fonction du nombre de PGs venant de
                            chaque TBK, plusieurs TBK dormiront dans une
                            auberge de jeunesse, réservée rien que pour vous,
                            non-loin du tabagnon. Pour les autres, vous serez
                            hebergés dans l'école-même et dans la résidence.
                            Dans tous les cas, ramenez vos duvets, vos
                            paddocks et vos peluches !
                        </p>
                    </div>

                    <div class="col-6">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section10">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Fin'ss</h1>
                    <hr>
                </div>
            </div>

            <div class="centered-content">
                <p class="light-shadow">
                    A Birse, on carry les fin'ss et on vous promet que vous allez bien manger ! Même si le menu est tenu secret jusqu'alors, sachez
                    qu'il y en aura pour tous les goûts que vous suiviez un régime drastique sans viandes, sans fromages, sans légumes, sans sel, ...
                    ou que vous syiez du genre à grignoter tout ce qui passe ! Tout est compris dans le billet. Notre Team Fin'ss est surentrainée
                    et sait faire des merveilles avec très peu... Vous ne pouvez pas manquer ça !
                    UAI: Pour les plus gros morfales, des collations seront proposées tout au long de l'évènement. On pense à vous !
                </p>
            </div>
        </div>
    </div>

    <div class="section" id="section11">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Planning</h1>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-6">
                        
                    </div>

                    <div class="col-6">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section11">
        <div class="white-30 filter">
            <div class="section-content">
                <div class="section-header">
                    <hr>
                    <h1 class="size-90">Planning</h1>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-6">
                        
                    </div>

                    <div class="col-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}