/* ###############################
 * ##   Variables definitions   ##
 * ############################### */
@font-face {
  font-family: "EstaSmallCaps";
  src: url("/fonts/bodoni_small_caps/bodoni_small_caps.eot");
  src: url("/fonts/bodoni_small_caps/bodoni_small_caps.eot?#iefix") format("embedded-opentype"), url("/fonts/bodoni_small_caps/bodoni_small_caps.woff2") format("woff2"), url("/fonts/bodoni_small_caps/bodoni_small_caps.woff") format("woff"), url("/fonts/bodoni_small_caps/bodoni_small_caps.ttf") format("truetype"), url("/fonts/bodoni_small_caps/bodoni_small_caps.svg#EstaSmallCaps") format("svg");
}
@font-face {
  font-family: "Bodoni";
  src: url("/fonts/bodoni_regular/bodoni.eot");
  src: url("/fonts/bodoni_regular/bodoni.eot?#iefix") format("embedded-opentype"), url("/fonts/bodoni_regular/bodoni.woff2") format("woff2"), url("/fonts/bodoni_regular/bodoni.woff") format("woff"), url("/fonts/bodoni_regular/bodoni.ttf") format("truetype"), url("/fonts/bodoni_regular/bodoni.svg#Bodoni") format("svg");
}
@font-face {
  font-family: "Trebuchet";
  src: url("/fonts/trebuchet/Trebuchet_MS.ttf");
}
html {
  margin: 0 0;
  padding: 0 0;
  height: 100%;
}

body {
  position: relative;
  margin: 0 0;
  padding: 0 0;
  min-height: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0 0;
  padding: 0 0;
  color: #002060;
  font-family: EstaSmallCaps;
}

a.active, a.active li {
  color: #eee !important;
}

.size-40 {
  font-size: 1.5em;
}

.size-50 {
  font-size: 2em;
}

.size-60 {
  font-size: 2.5em;
}

.size-70 {
  font-size: 3em;
}

.size-80 {
  font-size: 3.5em;
}

.size-90 {
  font-size: 4em;
}

#homeYT {
  height: 40vh !important;
  width: 71.1111111111vh !important;
}

.top-nav {
  height: 80px;
  background-color: #002060;
  color: #86ECF0;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}
.top-nav .nav-bot-border {
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0;
  padding: 0 0;
  border: 2px solid #86ECF0;
}
.top-nav .brand-part {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
}
.top-nav .brand-part img {
  height: 80px;
}
.top-nav .mobile-only {
  display: none;
}
.top-nav #mobileNavActivator {
  font-size: 3em;
  line-height: 80px;
  color: #86ECF0;
  margin: 0 10px;
}
.top-nav #mobileNavActivator:hover {
  cursor: pointer;
}
.top-nav .mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  background-color: #002060;
}
.top-nav .mobile-menu ul {
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0 0;
  padding: 0 0;
}
.top-nav .mobile-menu ul a {
  text-decoration: none;
}
.top-nav .mobile-menu ul a li {
  color: #86ECF0;
  font-size: 1.5em;
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #86ECF0;
}
.top-nav .mobile-menu ul a li:before {
  content: "";
}
@media screen and (max-width: 1250px) {
  .top-nav .right-part ul {
    display: none;
  }
  .top-nav .mobile-only {
    display: block;
  }
}
.top-nav .right-part {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.top-nav .right-part ul {
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}
.top-nav .right-part ul a {
  color: #86ECF0;
  text-decoration: none;
  line-height: 80px;
  font-size: 50px !important;
}
.top-nav .right-part ul li:before {
  content: "";
}
.top-nav .right-part ul li {
  color: #86ECF0;
  float: left;
  padding: 0 30px;
  font-family: Bodoni;
}

.first-section .section-content {
  z-index: 3;
  margin-top: 80px;
  display: inline-block;
  width: 100%;
}

.dark-bg * {
  color: #86ECF0 !important;
}
.dark-bg hr {
  border: 2px solid #86ECF0 !important;
}

.section {
  z-index: 1;
  position: relative;
  min-height: 100vh;
  background-size: cover;
}
.section .centered-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5%;
}
.section .centered-content p {
  width: 100%;
  padding: 20px;
  color: #002060;
  font-size: 1.5em;
  border-radius: 10px;
}
.section .centered-content .light-shadow {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 20px white;
}
.section .centered-content .dark-shadow {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section-header hr {
  flex: auto;
  border: 2px solid #002060;
  width: auto;
  margin: 0 20px;
}
.section-header h1 {
  padding: 0 20px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.row .col, .row .col-1, .row .col-2, .row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9, .row .col-10, .row .col-11, .row .col-12 {
  flex: auto;
  padding: 20px 40px;
}
.row .col-1 {
  width: 8.3333333333%;
}
.row .col-2 {
  width: 16.6666666667%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.3333333333%;
}
.row .col-5 {
  width: 41.6666666667%;
}
.row .col-6 {
  width: 50%;
}

p {
  color: #002060;
  font-size: 1.5em;
}

ul {
  list-style: none;
}
ul li:before {
  content: "- ";
}
ul li {
  color: #002060;
}

.filter {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.white-70 {
  background-color: rgba(255, 255, 255, 0.7);
}

.white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.white-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

#section1 {
  background-image: url("/img/compressor/background_1-compressor.jpg");
}

#section2 {
  background-image: url("/img/compressor/background_2-compressor.jpg");
}

#section3 {
  background-image: url("/img/compressor/background_3-compressor.jpg");
}

#section4 {
  background-image: url("/img/compressor/background_4-compressor.jpg");
}

#section5 {
  background-image: url("/img/compressor/background_5-compressor.jpg");
}

#section6 {
  background-image: url("/img/compressor/background_6-compressor.jpg");
}

#section7 {
  background-image: url("/img/compressor/background_7-compressor.jpg");
}

#section8 {
  background-image: url("/img/compressor/background_8-compressor.jpg");
}

#section9 {
  background-image: url("/img/compressor/background_9-compressor.jpg");
}

#section10 {
  background-image: url("/img/compressor/background_10-compressor.jpg");
}

#section11 {
  background-image: url("/img/compressor/background_11_12-compressor.jpg");
}

#section12 {
  background-image: url("/img/compressor/background_11_12-compressor.jpg");
}

#section13 {
  background-image: url("/img/background_13.png");
}
