/* ###############################
   ##   Variables definitions   ##
   ###############################

$top-nav-height: 60px
$top-nav-font-size: 2em
$top-nav-background: #0c2461
$top-nav-foreground:  #60a3bc

$general-foreground-color: $top-nav-background

$paragraph-size: 1.5em

@font-face
    font-family: "EstaSmallCaps"
    src: url("/fonts/bodoni_small_caps/bodoni_small_caps.eot")
    src: url("/fonts/bodoni_small_caps/bodoni_small_caps.eot?#iefix") format("embedded-opentype"), url("/fonts/bodoni_small_caps/bodoni_small_caps.woff2") format("woff2"), url("/fonts/bodoni_small_caps/bodoni_small_caps.woff") format("woff"), url("/fonts/bodoni_small_caps/bodoni_small_caps.ttf") format("truetype"), url("/fonts/bodoni_small_caps/bodoni_small_caps.svg#EstaSmallCaps") format("svg")

@font-face
    font-family: "Bodoni"
    src: url("/fonts/bodoni_regular/bodoni.eot")
    src: url("/fonts/bodoni_regular/bodoni.eot?#iefix") format("embedded-opentype"), url("/fonts/bodoni_regular/bodoni.woff2") format("woff2"), url("/fonts/bodoni_regular/bodoni.woff") format("woff"), url("/fonts/bodoni_regular/bodoni.ttf") format("truetype"), url("/fonts/bodoni_regular/bodoni.svg#Bodoni") format("svg")

@font-face
    font-family: "Trebuchet"
    src: url("/fonts/trebuchet/Trebuchet_MS.ttf")

// $title-fonts: Trebuchet
// $nav-fonts: Trebuchet
$nav-fonts: Bodoni
$title-fonts: EstaSmallCaps

html
    margin: 0 0
    padding: 0 0
    height: 100%

body
    position: relative
    margin: 0 0
    padding: 0 0
    min-height: 100%

h1, h2, h3, h4, h5
    margin: 0 0
    padding: 0 0
    // color: $general-foreground-color
    // font-family: $title-fonts
    font-family: sans-serif
    font-weight: normal

a.active, a.active li
    background-color: rgb(2, 26, 87)

.size-40
    font-size: 1.5em

.size-50
    font-size: 2em

.size-60
    font-size: 2.5em

.size-70
    font-size: 3em

.size-80
    font-size: 3.5em

.size-90
    font-size: 4em

.video-background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.top-nav
    height: $top-nav-height
    background-color: $top-nav-background
    color: $top-nav-foreground
    width: 100%
    top: 0
    left: 0
    position: absolute
    z-index: 2

    .nav-bot-border
        width: 90%
        position: absolute
        bottom: 0
        right: 0
        margin: 0 0
        padding: 0 0
        border: 2px solid $top-nav-foreground

    .brand-part
        position: absolute
        top: 0
        left: 0
        padding-left: 20px

        img
            height: $top-nav-height - 10px
            margin: 5px 0
    
    .mobile-only
        display: none

    #mobileNavActivator
        font-size: 3em
        line-height: $top-nav-height
        color: $top-nav-foreground
        margin: 0 10px

        &:hover
            cursor: pointer

    .mobile-menu
        display: none
        position: absolute
        left: 0
        top: $top-nav-height
        width: 100%
        background-color: $top-nav-background

        ul
            list-style: none
            width: 100%
            text-align: center
            margin: 0 0
            padding: 0 0

            a
                text-decoration: none

                li
                    color: $top-nav-foreground
                    font-size: 1.5em
                    width: 100%
                    min-height: 50px
                    line-height: 50px
                    border-bottom: 1px solid $top-nav-foreground

                    &:hover
                        background-color: rgb(2, 26, 87)
                        transition: 0.2s background-color

                    &:before
                        content: ' '

    @media screen and (max-width: 1250px)
        .right-part ul
            display: none

        .mobile-only
            display: block

    .right-part
        position: absolute
        top: 0
        right: 0
        height: 100%

        ul
            height: 100%
            margin: 0 0
            padding: 0 0
            list-style: none

            a
                color: $top-nav-foreground
                text-decoration: none
                line-height: $top-nav-height
                font-size: $top-nav-font-size !important

            li:before
                content: " "

            li
                color: $top-nav-foreground
                float: left
                font-family: sans-serif
                padding: 0 15px
                height: $top-nav-height
                position: relative

                &:hover
                    background-color: rgb(2, 26, 87)
                    transition: 0.2s background-color

                &:hover > ul
                    display: block

                ul
                    display: none
                    list-style: none
                    background-color: $top-nav-background
                    position: absolute
                    left: 0

                    li
                        float: top
                        background-color: $top-nav-background
                        color: $top-nav-foreground
                        width: 100%
                        padding: 0 15px
                        font-size: 0.8em
                        height: 40px
                        line-height: 40px

                        &:hover
                            background-color: rgb(2, 26, 87)
                            transition: 0.2s background-color

.section-content-bottom
    background-color: rgba(0, 0, 0, 0.3)
    position: absolute
    bottom: 0
    width: 100%
    left: 0
    color: #eee
    padding: 2% 10%
    box-sizing: border-box

.first-section
    .section-content
        z-index: 3
        margin-top: $top-nav-height
        display: inline-block
        width: 100%

.dark-bg
    *
        color: $top-nav-foreground !important
    
    hr
        border: 2px solid $top-nav-foreground !important

.section
    z-index: 1
    position: relative
    min-height: 100vh
    background-size: cover

    .centered-content
        position: absolute
        top: 0
        left: 0
        width: 99%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        padding: 0 0.5%

        p
            width: 100%
            padding: 20px
            color: $general-foreground-color
            font-size: $paragraph-size
            border-radius: 10px
        
        .light-shadow
            background-color: rgba(255, 255, 255, 0.7)
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 1)
        
        .dark-shadow
            background-color: rgba(0, 0, 0, 0.3)
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8)

.section-header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

    hr
        flex: auto
        border: 2px solid $general-foreground-color
        width: auto
        margin: 0 20px

    h1
        color: $general-foreground-color
        padding: 0 20px


.row
    width: 100%
    display: flex
    flex-direction: row

    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
        flex: auto
        padding: 20px 40px
    
    .col-1
        width: 8.333333333333333%
    
    .col-2
        width: 16.66666666666667%
    
    .col-3
        width: 25%
    
    .col-4
        width: 33.33333333333333%
    
    .col-5
        width: 41.66666666666667%
    
    .col-6
        width: 50%

p
    color: $general-foreground-color
    font-size: $paragraph-size

ul
    list-style: none

    li:before
        content: "- "

    li
        color: $general-foreground-color

.btn
    border: 2px solid #bdc3c7
    background-color: #ecf0f1
    transition: 0.2s background-color
    padding: 5px 15px
    color: #333
    text-decoration: none
    font-family: sans-serif

    &:hover
        background-color: #bdc3c7
        transition: 0.2s background-color

.btn-xl
    padding: 15px 30px

.btn-green
    background-color: #2ecc71
    border: 2px solid #27ae60
    color: #eee

    &:hover
        background-color: #27ae60
    
.filter
    z-index: 2
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.white-70
    background-color: rgba(255, 255, 255, 0.7)

.white-50
    background-color: rgba(255, 255, 255, 0.5)

.white-30
    background-color: rgba(255, 255, 255, 0.3)

.white-20
    background-color: rgba(255, 255, 255, 0.2)

.black-70
    background-color: rgba(0, 0, 0, 0.7)

.black-50
    background-color: rgba(0, 0, 0, 0.5)

.black-30
    background-color: rgba(0, 0, 0, 0.3)

.black-20
    background-color: rgba(0, 0, 0, 0.2)

.textured-bg-1
    height: 100%
    background-image: url('/img/bg-texture-1.png')
    background-repeat: round

#section1
    background-image: url('/img/compressor/background_1-compressor.jpg')

#section2
    background-image: url('/img/compressor/background_2-compressor.jpg')

#section3
    background-image: url('/img/compressor/background_3-compressor.jpg')

#section4
    background-image: url('/img/compressor/background_4-compressor.jpg')

#section5
    background-image: url('/img/compressor/background_5-compressor.jpg')

#section6
    background-image: url('/img/compressor/background_6-compressor.jpg')

#section7
    background-image: url('/img/compressor/background_7-compressor.jpg')

#section8
    background-image: url('/img/compressor/background_8-compressor.jpg')

#section9
    background-image: url('/img/compressor/background_9-compressor.jpg')

#section10
    background-image: url('/img/compressor/background_10-compressor.jpg')

#section11
    background-image: url('/img/compressor/background_11_12-compressor.jpg')

#section12
    background-image: url('/img/compressor/background_11_12-compressor.jpg')

#section13
    background-image: url('/img/background_13.png')