<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/all.css" />
        <meta charset="utf-8" />
        <link rel="icon" href="/img/logo_CE.ico" />
        {% block title %}<title>CE Birse 2020</title>{% endblock %}
        {% block styles %}
        {% endblock %}
    </head>

    <body>
        <header>
            <nav class="top-nav">
                <div class="brand-part">
                    <a href="/"><img src="/img/logo_CE.png" /></a>
                </div>

                <div class="right-part">
                    <i id="mobileNavActivator" class="mobile-only fas fa-bars"></i>
                    <ul>
                        {% block navLinks %}
                            <a href="/le-ce/"><li>Le CE</li></a>
                            <a href="/ateliers/"><li>Ateliers</li></a>
                            <a href="/billetterie/"><li>Billetterie</li></a>
                            <a href="/organisation/"><li>Organisation</li></a>
                            <a href="/contact/"><li>Contact</li></a>
                        {% endblock %}
                    </ul>
                </div>

                <div class="mobile-menu">
                    <ul>
                        {% block navLinks %}
                            <a href="/le-ce/"><li>Le CE</li></a>
                            <a href="/ateliers/"><li>Ateliers</li></a>
                            <a href="/billetterie/"><li>Billetterie</li></a>
                            <a href="/organisation/"><li>Organisation</li></a>
                            <a href="/contact/"><li>Contact</li></a>
                        {% endblock %}
                    </ul>
                </div>

                <hr class="nav-bot-border"/>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#mobileNavActivator').click(function(e){
                    e.preventDefault();
                    $('.mobile-menu').slideToggle();
                });
            });
        </script>
    {% endblock %}
</html>