<html>
    <head>
        <link href="http://fr.allfont.net/allfont.css?fonts=agency-fb" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/style.css" />
        <title>CE Birse &bull; 2019</title>
    </head>

    <body>
        <div class="page">
            <nav class="menu">
                <h2 class="menu-toggler"><a href="#">MENU</a></h2>

                <ul>
                    <li><a href="#" class="font-agency">Présentation de l'évènement</a></li>
                    <li><a href="#" class="font-agency">Billeterie</a></li>
                    <li><a href="#" class="font-agency">Organisation du comité des élèves</a></li>
                    <li><a href="#" class="font-agency">Accès</a></li>
                    <li><a href="#" class="font-agency">Contacts</a></li>
                </ul>
            </nav>
            
            <div class="main-image">
                <div class="image-holder">
                    <img src="img/home_image.jpg" />
                    <div class="text-block"><h1 class="font-agency">Comité des<br/>Elèves<br/>2020<br/>Lille</h1></div>
                </div>
            </div>

            <div class="event-desc">
                <p>Description de l'évènement</p>
            </div>
        </div>

        <div class="page">

        </div>
    </body>
</html>